header{
    background-color: rgb(63, 63, 128);
    width: 60%;
    height: 30vh;
    margin: 0 auto;
    margin-top: 5%;
    display: flex;
    border-radius: 30px;
    color: white;
    font-weight: 500;
}

.search-bar{

    width: 60%;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;

}

.search-bar input{
    width: 100%;
    background-color: rgb(63, 63, 128);
    border: 1px solid white;
    padding: 10px;
    
}

.search-bar input::placeholder{
    color: rgb(216, 212, 212);
}

.publicacoes{
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.issues {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Garante 2 cards por linha */
    gap: 20px; /* Espaçamento entre os cards */
    width: 60%; /* Alinha a largura das issues com a do header */
    margin: 0 auto; /* Centraliza as issues na tela */
    margin-top: 2%;
  }

.informacoes{
   
    margin-top: 3%;
    width: 60%;
   
}

.image{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.image img{
    display: flex;
    height: 170px;
    border-radius: 100%;
   
}

.status{
    display: flex;
    gap: 50px;
    margin-top: 4%
}

.seguidores{
    display: flex;
    gap: 25px;
}

.seguindo{
    display: flex;
    gap: 20px;
}
