.posts{
    background-color: rgb(63, 63, 128);
    border-radius: 10px;
    color: white;
    font-weight: 500;
    width: 100%; /* Os cards ocuparão toda a largura disponível da coluna */
    height: auto; /* Ajusta a altura automaticamente ao conteúdo */
}